.anim-nav-button{
    span:first-child{
        @include prefix(transform, rotate(45deg));
        top: 12px !important;
    }
    span:nth-child(2){
        @include opacity(0);
    }
    span:nth-child(3){
        @include prefix(transform, rotate(-45deg));
        bottom: 12px !important;
    }
}