//Button Website
%button{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    %inside{
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    %inside-margin{
        top: 50%;
        left: 50%;
        //Add Margin Half Width And Height
    }
}
//OutDoor
%inside{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

//Overlay
%overlay{
    background: rgb(0,61,52);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwM2QzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDc4N2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(0,61,52,1) 0%, rgba(0,120,122,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,61,52,1)), color-stop(100%,rgba(0,120,122,1)));
    background: -webkit-linear-gradient(left, rgba(0,61,52,1) 0%,rgba(0,120,122,1) 100%);
    background: -o-linear-gradient(left, rgba(0,61,52,1) 0%,rgba(0,120,122,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,61,52,1) 0%,rgba(0,120,122,1) 100%);
    background: linear-gradient(to right, rgba(0,61,52,1) 0%,rgba(0,120,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003d34', endColorstr='#00787a',GradientType=1 );
}
//Header Style
@mixin header{
    .header{
        margin-bottom: 65px;
        h2{
            color: $second-color;
            font-weight: bold;
            font-size: 1.875rem;
            z-index: 2;
            &:before{
                content: attr(data-co);
                position: absolute;
                @extend %inside;
                font-size: 40px;
                color: $second-color;
                z-index: 0;
                white-space: nowrap;
                @include opacity(0.09);
                @media (min-width: 576px){
                    font-size: 50px;
                }
            }
        }
    }
}